.fx-button{
    /*-fx-hgap: 20px;*/
    /*-fx-padding: 40px;*/

    /*-fx-background-color: #2969c0;*/
    -fx-background-radius: 50px;

    /*-fx-border-width: 5px;*/
    /*-fx-border-color: black;*/
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);*/
}

Button{
    -fx-border-radius: 20px;
    -fx-border-insets: 20px;

}

.bg-Primary{
    -fx-background-color: #1DB954;
}

.bg-Secondary{
    -fx-background-color:  #191414;
}

.menu{
    -fx-font-size: 13px;
}